body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.terminal {
    max-width: 600px;
    margin: auto;
}

.img-box {
  width: 100%;
  max-width: 400px;
  border: 2px solid #444;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}
.legend {
  font-size: 0.9em;
  color: #0f0;
  margin-bottom: 20px;
  font-style: italic;
}

.hidden-box {
  display: none;
}

.show-box {
  display: block;
}

.timeline {
  border-left: 3px solid #0f0;
  padding-left: 15px;
  margin-top: 20px;
}

.timeline-item {
  margin-bottom: 15px;
  position: relative;
}

.timeline-item::before {
  content: "●";
  position: absolute;
  left: -11px;
  color: #0f0;
}

.timeline-date {
  font-weight: bold;
  color: #0f0;
}

input {
  background-color: #0c0c0c;
  color: #0f0;
  border: 1px solid #00ff99;
  padding: 8px 10px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  outline: none;
  width: 300px;
  margin-top: 10px;
  border-radius: 4px;
  caret-color: #00ff99;
}
